# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env
# Large files
models/*.pkl
notebooks/data/*.csvgit rm --cached models/house_price_model.pkl

notebooks/data/